# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: "github-actions"
    directories: 
      - "**/*"
    groups:
      gha-deps:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
