[GLOBAL]
pants_version = "2.31.0.dev3"
build_patterns = ["BUILD.pants", "BUILD"]
pythonpath = ["pants-plugins"]
print_stacktrace = true
# plugins = [
#   "robotpajamas.pants.scie",
#   "robotpajamas.pants.ty",
# ]

backend_packages = [
    "pants.backend.build_files.fmt.ruff",
    "pants.backend.experimental.cc",
    "pants.backend.experimental.cc.lint.clangformat",
    "pants.backend.experimental.javascript",
    "pants.backend.experimental.javascript.lint.prettier",
    "pants.backend.experimental.python", # Enable publishing to PyPI
    "pants.backend.experimental.python.lint.ruff.format",
    "pants.backend.plugin_development",
    "pants.backend.python",
    "pants.backend.python.lint.autoflake",
    #"pants.backend.python.lint.bandit",
    #"pants.backend.python.lint.black",
    "pants.backend.python.lint.flake8",
    "pants.backend.python.lint.isort",
    "pants.backend.python.lint.pyupgrade",
    "pants.backend.python.typecheck.mypy",
    "pants.backend.shell",
    "pants.backend.shell.lint.shellcheck",
    "pants.backend.shell.lint.shfmt",
    "experimental.migrate",
    "experimental.scie",
    # "experimental.mypyc",
    # "experimental.ansible",
    # "experimental.ansible.lint.ansible_lint",
    # "experimental.swift",
    "experimental.ty",
]

[source]
marker_filenames = ["BUILD.pants"]
root_patterns = [
    "pants-plugins",
]

#[ansible-galaxy]
#requirements = "requirements.yml" # Relative to the Ansible target BUILD
#collections = ["community.docker"]

[python]
enable_resolves = true
interpreter_constraints = [">=3.11.0"]
pip_version = "latest"
separate_lockfile_metadata_file = true
tailor_pex_binary_targets = false

[python.resolves]
pants-plugins = "build-support/lockfiles/pants-plugins.lock"
python-default = "build-support/lockfiles/python-default.lock"

[python.resolves_to_interpreter_constraints]
pants-plugins = ["==3.11.*"]

#[bandit]
# Skipping assertion warnings - because this is an example project
#args = ["--skip B101"]

[flake8]
args = ["--max-line-length 88", "--ignore=E501,W503"]

[isort]
args = "--profile black"

[pyupgrade]
args = "--py311-plus"

#[setuptools]
#extra_requirements = ["wheel", "mypy"]
#lockfile = "build-support/setuptools.txt"

[shfmt]
# See https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#printer-flags.
args = ["-i 4", "-ci", "-sr"]

[update-build-files]
# We use `pants.backend.build_files.fmt.ruff`
fmt = false

[anonymous-telemetry]
enabled = false
