[GLOBAL]
pants_version = "2.11.0rc0"
pantsd = true 
build_patterns = ["BUILD.pants", "BUILD"]
pythonpath = ["pants-plugins"]
print_stacktrace = true

backend_packages = [
    "pants.backend.plugin_development",
    "pants.backend.python",
    "pants.backend.python.lint.black",
    #"pants.backend.python.lint.docformatter",
    "pants.backend.python.lint.flake8",
    "pants.backend.python.lint.isort",
    "pants.backend.python.typecheck.mypy",
    "pants.backend.experimental.python.lint.autoflake",
    #"experimental.mypyc",
    "experimental.cpp",
    "experimental.cpp.lint.clangformat",
    "experimental.nodejs",
    "experimental.nodejs.lint.prettier",
    "experimental.ansible",
    "experimental.pyoxidizer",
]

[source]
marker_filenames = ["BUILD.pants"]
root_patterns = [
    "/",
    "pants-plugins",
]

[python]
interpreter_constraints = [">=3.9"]
requirement_constraints = "requirements.constraints.txt"

[flake8]
args = ["--max-line-length 88", "--extend-ignore=E501"]

[isort]
args = "--profile black"

[pyoxidizer]
interpreter_constraints = [">=3.9"]
args = ["--release"]

[anonymous-telemetry]
enabled = false

[setuptools]
extra_requirements = ["wheel", "mypy"]
lockfile = "build-support/setuptools.txt"
